<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533027461303-co6945dnm0r00iq4q0jruct4qjc42ff5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533027461303-co6945dnm0r00iq4q0jruct4qjc42ff5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>533027461303-nf9b22l4unrdo0kemdbm1681gini0uvs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYXM2MGVBlxRnAeyzqxyy3M_Xj_QjlrsI</string>
	<key>GCM_SENDER_ID</key>
	<string>533027461303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userAuthApp</string>
	<key>PROJECT_ID</key>
	<string>uesr-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>uesr-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533027461303:ios:3244bf235fa8111d29d532</string>
</dict>
</plist>